{
  "callsign": "CALLSIGN_PLACEHOLDER",
  "data_dir": "/var/lib/qtcd",
  "listen": ["/ip4/0.0.0.0/tcp/0"],
  "bootstrap": ["/dns4/ham.n1adj.net/tcp/4001/p2p/QmdxViFZP4PK5TL3xANxScyaFnvBfdqfbQqjjJGhvJvuSg"],
  "caps": [],
  "dht": true,
  "admin": "127.0.0.1:8017",
  "metrics_interval": "15m",
  "inet": {
    "listen": "127.0.0.1:17000",
    "hosts_file": "HOSTS_FILE_PLACEHOLDER",
    "allow_callsigns": [],
    "modules": {
      "A": {"reflector": "REFLECTOR_PLACEHOLDER", "module": "MODULE_PLACEHOLDER", "mode": "qtc"}
    }
  }
}
